<% layout ("layouts/boilerplate") %>
<div class="container">
  <h1>About Just Desserts:</h1>
  <h3>
    At <span class="fst-italic">Just Desserts</span>, we're passionate about all things sweet. Our mission is to
    inspire and guide dessert enthusiasts in creating delectable treats that
    bring joy to every occasion. With an extensive collection of meticulously
    curated recipes, we cater to both experienced bakers and those looking to
    explore the world of desserts. From mouthwatering cakes to heavenly pies,
    our user-friendly app offers detailed instructions and captivating visuals
    to ensure your baking success. But <span class="fst-italic">Just Desserts</span> is more than just an app;
    it's a community of like-minded dessert lovers. Connect, share, and learn
    from fellow bakers as we celebrate the artistry and indulgence of desserts.
    Join us on this delicious journey and let <span class="fst-italic">Just Desserts</span> be your ultimate
    source of sweet inspiration.
  </h3>
</div>
