<% layout ("layouts/boilerplate") %>
<div class="container">
  <h1>Welcome to just desserts!</h1>
  <h3>
    Indulge in a world of delightful desserts with our app. Discover a vast
    collection of recipes, from classic favorites to innovative creations.
    Whether you're a seasoned baker or a dessert enthusiast, our user-friendly
    interface makes it easy to find the perfect sweet treat for any occasion.
    Each recipe comes with detailed instructions and stunning visuals to guide
    you effortlessly. Join a vibrant community of dessert lovers, share your
    creations, and exchange ideas. Unleash your inner pastry chef and turn your
    kitchen into a hub of irresistible indulgence. Welcome to <span class="fst-italic">Just Desserts</span>,
    where every bite is a sweet symphony of flavors...
  </h3>
</div>
